{
  "extends": "@istanbuljs/nyc-config-typescript",
  "include": "**/*.tsx?",
  "report-dir": "cypress-coverage",
  "require": "ts-node/register",
  "exclude-after-remap": false,
  "temp-dir": ".nyc_output"
}