.classification-result__success {
  text-align: center;
}

.classification-result__breed {
  color: #018561;
  font-weight: 700;
}

.classification-result__loader {
  margin-bottom: 0.5rem;
}

.classification-result__classifying {
  text-align: center;
}
